{% extends 'base.html' %}
{% load static %}

{% block title %}
    Attendance Manager
{% endblock title %}

{% block body %}
    <div class="container">
        <div class="text-center">
            <h1>Attendance Manager</h1>
            <p><i class="fas fa-user"></i> &nbsp; welcome, {{ user }} &nbsp; <i
                    class="fas fa-school"></i>&nbsp; {{ user.school }}</p>
        </div>
        <div class="row">
            <section class="card col-5">
                <div class="card-body text-center">
                    <h2><a href="{% url 'attendance:student_home' %}">Student Attendance</a></h2>
                    <a href="#" class="btn"><i class="fas fa-plus"></i> Add</a>
                    <a href="{% url 'attendance:student_home' %}" class="btn btn-primary">Fetch</a>
                </div>
            </section>
            <section class="card col-5 offset-2">
                <div class="card-body text-center">
                    <h2><a href="#">Employee Attendance</a></h2>
                    <a href="#" class="btn"><i class="fas fa-plus"></i> Add</a>
                    <a href="#" class="btn btn-primary">Fetch</a>
                </div>
            </section>
        </div>
    </div>
{% endblock body %}