{% extends 'base.html' %}
{% load static %}

{% block title %}
    Attendance Manager
{% endblock title %}

{% block body %}
    <div class="container">
        <br>
        <div class="text-center">
            <h1>Attendance Manager</h1>
            <p><i class="fas fa-user"></i> &nbsp; welcome, {{ user|title }} &nbsp; <i
                    class="fas fa-school"></i>&nbsp; {{ display.authority_type }} • {{ display.location }}</p>
        </div>
        <div class="row">
            <section class="card col-5">
                <div class="card-body text-center">
                    <h2><a href="{% url 'attendance:student_home' %}">Student Attendance</a></h2>
                    {% if user.is_school_admin %}
                        <a href="{% url 'attendance:student_add' %}" class="btn"><i class="fas fa-plus"></i> Add</a>
                    {% endif %}
                    <a href="{% url 'attendance:student_home' %}" class="btn btn-primary">Fetch</a>
                </div>
            </section>
            <section class="card col-5 offset-2">
                <div class="card-body text-center">
                    <h2><a href="{% url 'attendance:employee_home' %}">Employee Attendance</a></h2>
                    {% if user.is_school_admin %}
                        <a href="{% url 'attendance:employee_add' %}" class="btn"><i class="fas fa-plus"></i> Add</a>
                    {% endif %}
                    <a href="{% url 'attendance:employee_home' %}" class="btn btn-primary">Fetch</a>
                </div>
            </section>
        </div>

    </div>
{% endblock body %}