{% extends 'base.html' %}
{% load static %}

{% block title %}
    Employee attendance details
{% endblock title %}

{% block body %}
    <div class="container">
        <br>
        <h1>{{ display.start_date }} - {{ display.end_date }}</h1>

        <div>
            <a href="{% url 'attendance:employee_home' %}" class="btn"><i class="fas fa-chevron-left"></i> return
                back</a>

        </div>

        <br>

        <table class="table table-striped table-hover table-responsive">
            <thead class="table-dark">
            <tr>
                {% for head_val in header %}
                    {% if forloop.first or forloop.last %}
                        <th scope="col">{{ head_val }}</th>
                    {% else %}
                        <th scope="col" class="text-center"><a href="
                                {% url 'attendance:employee_detail' head_val school %}"
                                                               class="text-white">{{ head_val }} <i
                                class="fas fa-external-link-alt"></i></a>
                        </th>
                    {% endif %}

                {% endfor %}

            </tr>
            </thead>
            <tbody>
            {% for field_value in field_values %}
                <tr>
                    {% for value in field_value %}
                        {% if forloop.first %}
                            <td>{{ value }}</td>
                        {% elif forloop.last %}
                            <td>{{ value }} %</td>
                        {% else %}
                            <td class="text-{% if value %}success{% else %}danger{% endif %} text-center">
                                {% if value %}
                                    P
                                {% else %}
                                    A
                                {% endif %}
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div>
            <a href="{% url 'attendance:employee_home' %}" class="btn"><i class="fas fa-chevron-left"></i> return
                back</a>

        </div>
    </div>

{% endblock body %}