{% extends 'base.html' %}
{% load static %}

{% block title %}
    Employee attendance
{% endblock title %}

{% block body %}
    <div class="container">
    <br>
        <h1 class="text-center">Employee Attendance</h1>
        <a href="{% url 'attendance:index' %}" class="btn"><i class="fas fa-chevron-left"></i> Return Home</a>
        <a class="btn" href="{% url 'attendance:employee_add' %}"><i class="fas fa-plus"></i> Add</a>
        <form method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <ul class="text-danger form-text" style="list-style: none">
                    {% for error in form.non_field_errors %}
                        <li class="alert alert-danger">{{ error }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <br>
            {% endif %}
            <div class="row mb-4">
                {% for field in form %}
                    <div class="col">
                        <label class="form-label">{{ field.label_tag }}</label>
                        {{ field }}
                        {% if field.errors %}
                            <div>
                                <span class="text-danger form-text small">{{ field.errors.as_text }}</span>
                                {% if field.help_text %}
                                    <small class="text-danger form-text">{{ field.help_text }}</small>
                                {% endif %}
                            </div>
                        {% else %}
                            {% if field.help_text %}
                                <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                            <br>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary">Fetch Employee</button>
        </form>
    </div>
{% endblock body %}