{% extends 'base.html' %}
{% load static %}

{% block title %}
    Create Employee attendance
{% endblock title %}

{% block body %}
    <div class="container">
        <h1>Add new attendance</h1>
        <form method="post">
            {% csrf_token %}
            {% include 'forms.html' %}
            <br>
            <button class="btn btn-primary" type="submit">Save and fetch employees</button>
            <a href="{% url 'attendance:employee-list' %}" class="btn">cancel</a>
        </form>
    </div>
{% endblock body %}