{% extends 'base.html' %}
{% load static %}

{% block title %}
    Employee Attendance
{% endblock title %}

{% block body %}
    <div class="container">
        <br>
        <div class="row">
            <div class="col-8">
                <h1>Employee attendance</h1>
                {% for attendance in attendances %}
                    <section class="card">
                        <a href="{% url 'attendance:employee-detail' attendance.pk %}">
                            <div class="card-body" id="{{ attendance.employee_attendance_date | slugify }}">
                                <h5 class="card-title">{{ attendance.employee_attendance_date }}</h5>
                            </div>
                        </a>
                    </section>
                    <br/>
                {% endfor %}
            </div>
            <div class="col sticky-top">
                <div class="sticky-top">
                    <div>
                        <a href="{% url 'attendance:employee-create' %}" class="btn btn-primary"><i
                                class="fas fa-plus"></i>&nbsp;Add
                            new</a>
                        <a class="btn text-muted" href="{% url 'attendance:home' %}"><i
                                class="fas fa-chevron-left"></i> return
                            back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}