{% extends 'base.html' %}
{% load static %}

{% block title %}
    Student Attendance
{% endblock title %}

{% block body %}
    <div class="container">
        <br>
        <div class="row">
            <div class="col-8">
                <h1>Student attendance</h1>

                {% regroup attendances by student_attendance_date as attendance_dates %}

                <div
                        data-spy="scroll"
                        data-target="#scrollspy"
                        data-offset="0"
                        class="scrollspy-example"
                >
                    {% for attendance_date in attendance_dates %}
                        <section id="d-{{ attendance_date.grouper | slugify }}">
                            <div class="card bg-dark">
                                <div class="card-body">
                                    <p class="card-title text-light">
                                        {{ attendance_date.grouper }}
                                    </p>
                                </div>
                            </div>
                            <br>
                            {% for student in attendance_date.list %}
                                <div class="card">
                                    <a href="{% url 'attendance:student-detail' student.pk %}">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ student.student_attendance_subject.subject_name }}</h5>
                                            <p class="card-text text-muted">
                                                <i class="fas fa-graduation-cap"></i>&nbsp; {{ student.student_attendance_subject.subject_class }}
                                                {% if student.student_attendance_section %}
                                                    - {{ student.student_attendance_section }}
                                                {% endif %}
                                            </p>
                                        </div>
                                    </a>
                                </div>
                                <br>
                            {% endfor %}
                        </section>
                    {% endfor %}
                </div>
            </div>

            <div class="col">
                <div class="sticky-top">
                    <div>

                        <a href="{% url 'attendance:student-create' %}" class="btn btn-primary"><i
                                class="fas fa-plus"></i>&nbsp;Add
                            new</a>
                        <a class="btn text-muted" href="{% url 'attendance:home' %}"><i
                                class="fas fa-chevron-left"></i> return
                            back</a>
                    </div>
                    <br>
                    <h5>Go to date</h5>
                    <div id="scrollspy" class="sticky-top">
                        <ul class="nav flex-column nav-pills menu-sidebar">
                            {% for unique_date in unique_dates %}
                                <li class="nav-item">
                                    <a class="nav-link" href="#d-{{ unique_date | slugify }}">{{ unique_date }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}