{% extends 'base.html' %}
{% load static %}

{% block body %}
    <div class="container">
        <br>
        <h1>{{ display.date }} • {{ display.subject }}</h1>
        <div>
            <p class="text-muted">Class
                <b>{{ display.class }}

                    {% ifnotequal section 'NA' %}
                        - {{ section }}
                    {% endifnotequal %}
                </b>
            </p>
        </div>
        <script type="text/javascript" > 
            function check() {
                if( $('.selectall').is(':checked') ) {
                    $('.present').attr('checked', true);
                } else {
                    $('.present').attr('checked', false);
                }
            }
            </script>

        <form method="post" action="{% url 'attendance:student_mark_attendance' create_date subject section %}">
            {% csrf_token %}
            <button class="btn btn-primary"><i class="fas fa-save"></i>&nbsp;Save</button>
            <a class="btn text-muted" href="{% url 'attendance:student_detail' create_date subject section school %}">
                <i class="fas fa-chevron-left"></i> return back</a>

            <br><br>

            <table class="table table-responsive table-striped table-hover">
                <thead class="table-dark">
                <tr>
                    <th scope="col">Roll no</th>
                    <th scope="col">Full name</th>
                    <th scope="col" class="text-center"><input type="checkbox" class="selectall" style="width:5%"
                                                               onclick="check()"/><label>Mark all</label></th>
                </tr>
                </thead>
                <tbody>
                {% for student in attendance %}

                    <tr>
                        <th scope="row">{{ student.student_attendance_student.stud_rollno }}</th>
                        <td>{{ student.student_attendance_student.user.first_name }} {{ student.student_attendance_student.user.last_name }}</td>
                        <td>
                            <!--suppress HtmlFormInputWithoutLabel -->
                            <input type="checkbox" value="{{ student.id }}" class="present" name="present"
                                   id="{{ student.id }}"
                                   {% if student.student_attendance_is_present %}checked{% endif %}>
                        </td>
                    </tr>
                {% endfor %}


                </tbody>
            </table>

            <button class="btn btn-primary"><i class="fas fa-save"></i>&nbsp;Save</button>
            <a class="btn text-muted" href="{% url 'attendance:student_detail' create_date subject section school %}"><i
                    class="fas fa-chevron-left"></i> &nbsp;
                return back</a>
        </form>

    </div>

{% endblock body %}