{% extends 'base.html' %}

{% block body %}

<div class="container" style="padding-top: 2%; padding-bottom: 4%;">
    <div class="text-center">
        <h2 class="h2 mb-3" style="font-weight: 700;border-bottom: 1px solid #000;display: inline-block;">{{ school_name|upper }}</h2>
    </div>    
    <div class="row mt-4 mb-4 text-center">        
        <p class="h4 mb-2">Academic Session: {{ academic_year }}</p>
        <p class="h4 mb-4">Report Card</p>
    </div>
    <div class="row mt-4 mb-4 text-center">
        <h3><strong>{% if no_record %} No Record Found {% endif %}</strong></h3>
    </div>
    <div class="row mt-4 mb-4">
        <div>
            <p class="box-look align-right">
                Roll No. <span style="color: #39c0ed"> {{ student.stud_rollno }} </span>
            </p>
            <p class="align-left">
                <strong>Student's Name :</strong>   {{ student.user.first_name|title }} {{ student.user.last_name|title }} <br/>
                <strong>Father's Name :</strong>  {{ student.user.middle_name|title }}  {{ student.user.last_name|title }} <br/>
                <strong>Mother's Name :</strong>  <br/>
                <strong>Date of Birth :</strong>  {{ student.user.date_of_birth }} <br/>
                <strong>Class-Section :</strong>  {{ student.stud_class }} - {{ student.stud_section }}<br/>
            </p>            
        </div>
        
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="table-responsive" style="overflow: visible;">
                <table class="table text-center table-bordered table-hover">
                    <thead class="table-light sticky-header">
                        <tr class="align-middle">
                            <th>Scholastic Areas</th>
                            <th colspan="6">Term-1 (100 Marks)</th>
                            <th colspan="6">Term-2 (100 Marks)</th>
                        </tr>
                        <tr class="align-middle">
                            <th rowspan="2">Sub Name</th>
                            <th>Per. Test</th>
                            <th>Notebook</th>
                            <th>SEA</th>
                            <th>Half Yearly</th>
                            <th>Total</th>
                            <th>Grade</th>
                            <th>Per. Test</th>
                            <th>Notebook</th>
                            <th>SEA</th>
                            <th>Half Yearly</th>
                            <th>Total</th>
                            <th>Grade</th>
                        </tr>
                        <tr class="align-middle">
                            <th>10</th>
                            <th>5</th>
                            <th>5</th>
                            <th>80</th>
                            <th>100</th>
                            <th></th>
                            <th>10</th>
                            <th>5</th>
                            <th>5</th>
                            <th>80</th>
                            <th>100</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sub in subjects %}
                            <tr class="align-middle">
                                <td>{{ sub.subject.subject_name }}</td>
                                <td>{{ sub.per_test_1 }}</td>
                                <td>{{ sub.notebook_1 }}</td>
                                <td>{{ sub.sea_1 }}</td>
                                <td>{{ sub.main_1 }}</td>
                                <td>{{ sub.total_1 }}</td>
                                <td>{{ sub.grade_1 }}</td>
                                <td>{{ sub.per_test_2 }}</td>
                                <td>{{ sub.notebook_2 }}</td>
                                <td>{{ sub.sea_2 }}</td>
                                <td>{{ sub.main_2 }}</td>
                                <td>{{ sub.total_2 }}</td>
                                <td>{{ sub.grade_2 }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            <div class="table-responsive" style="overflow: visible;">
                <table class="table text-center table-bordered table-hover">
                    <thead class="table-light sticky-header">
                        <tr class="align-middle">
                            <th>Co-Scholastic Areas (on a 3-point [A-C] grading scale)</th>
                            <th>Term-1</th>
                            <th>Term-2</th>
                        </tr>
                        <tr class="align-middle">
                            <th>Sub Name</th>
                            <th>Grade</th>
                            <th>Grade</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sub in co_subjects %}
                            <tr class="align-middle">
                                <td>{{ sub.exam_cs_subject.subject_name }}</td>
                                <td>{{ sub.exam_cs_grade_1 }}</td>
                                <td>{{ sub.exam_cs_grade_2 }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% load static %}

{% block scripts %}
<!-- TableToJson jquery plugin CDN -->
<script src="{% static 'js/vendor/jquery.tabletojson.min.js' %}"></script>

{% endblock %}