{% extends 'base.html' %}

{% block body %}

<div class="container" style="padding-top: 2%; padding-bottom: 4%;">
    <div class="row mt-4 mb-4">
        <form action="" method="POST" class="text-center border border-light p-4">
            {% csrf_token %}
            <p class="h4 mb-4">Academic Session: {{ academic_year }}</p>
            <p class="h4 mb-4">Report Card</p>
            {% if error_msg %}
            <span class="text-left text-danger large">
                <ul class="errorlist">
                    <li>{{ error_msg }}</li>
                </ul>
            </span>
            {% endif %}
            <div class="row mb-4">
                <div class="col-3">
                    <div class="form-group">
                        <select onchange="" name="class"
                            class="form-control browser-default custom-select mb-4" id="class">
                            <option value="">SELECT CLASS</option>
                            {% for cls in class %}
                            <option value="{{ cls.0}}" {% if selected_class == cls.0 %} selected {% endif %}>{{ cls.1 }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <select name="section" class="form-control browser-default custom-select mb-4" id="section">
                            <option value="">SELECT SECTION</option>
                            {% if selected_section %}
                            <option value="{{ selected_session }}" selected>{{ selected_session }}</option>
                            {% endif %}
                        </select>
                    </div>
                </div>

                <div class="col-3">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter Roll No.">{{ roll_no }}
                    </div>
                </div>

                <div class="col-3"><button class="btn btn-info btn-block" type="submit">Submit</button></div>
            </div>
        </form>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="table-responsive">
                <table class="table text-center table-bordered table-hover">
                    <thead class="table-light">
                        <tr class="align-middle">
                            <th>Scholastic Areas</th>
                            <th colspan="6">Term-1 (100 Marks)</th>
                            <th colspan="6">Term-2 (100 Marks)</th>
                        </tr>
                        <tr class="align-middle">
                            <th rowspan="2">Sub Name</th>
                            <th>Per. Test</th>
                            <th>Notebook</th>
                            <th>SEA</th>
                            <th>Half Yearly</th>
                            <th>Total</th>
                            <th>Grade</th>
                            <th>Per. Test</th>
                            <th>Notebook</th>
                            <th>SEA</th>
                            <th>Half Yearly</th>
                            <th>Total</th>
                            <th>Grade</th>
                        </tr>
                        <tr class="align-middle">
                            <th>10</th>
                            <th>5</th>
                            <th>5</th>
                            <th>80</th>
                            <th>100</th>
                            <th></th>
                            <th>10</th>
                            <th>5</th>
                            <th>5</th>
                            <th>80</th>
                            <th>100</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sub in subjects %}
                            <tr class="align-middle">
                                <td>{{ sub.subject.subject_name }}</td>
                                <td>{{ sub.per_test_1 }}</td>
                                <td>{{ sub.notebook_1 }}</td>
                                <td>{{ sub.sea_1 }}</td>
                                <td>{{ sub.main_1 }}</td>
                                <td>{{ sub.total_1 }}</td>
                                <td>{{ sub.grade_1 }}</td>
                                <td>{{ sub.per_test_2 }}</td>
                                <td>{{ sub.notebook_2 }}</td>
                                <td>{{ sub.sea_2 }}</td>
                                <td>{{ sub.main_2 }}</td>
                                <td>{{ sub.total_2 }}</td>
                                <td>{{ sub.grade_2 }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% load static %}

{% block scripts %}
<!-- TableToJson jquery plugin CDN -->
<script src="{% static 'js/vendor/jquery.tabletojson.min.js' %}"></script>

{% endblock %}