{% extends 'base.html' %}

{% block body %}
<div class="container-fluid" style="padding-top: 2%; padding-bottom: 4%;">
    <div class="card border border-primary shadow-2-strong col-md-11 mx-auto">
        <h2 class="card-header text-center bg-primary text-white">{{ school_name|upper }}<br />Academic Session:
            {{ academic_year }} <br /> Report Card</h2>
        <div class="card-body">
            <div class="container-fluid my-5">
                <form action="" method="POST" class="text-center">
                    {% csrf_token %}
                    {% if error_msg %}
                    <span class="text-left text-danger large">
                        <ul class="errorlist">
                            <li>{{ error_msg }}</li>
                        </ul>
                    </span>
                    {% endif %}
                    <div class="row">
                        <div class="col-md-1"></div>
                        <!-- Class -->
                        <div class="col-md-2">
                            <div class="form-group">
                                <select onchange="" name="class" class="form-control browser-default custom-select mb-4"
                                    id="class">
                                    <option value="">SELECT CLASS</option>
                                    {% for cls in class %}
                                    <option value="{{ cls.0}}" {% if selected_class == cls.0 %} selected {% endif %}>
                                        {{ cls.1 }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <!-- Section -->
                        <div class="col-md-2">
                            <div class="form-group">
                                <select name="section" class="form-control browser-default custom-select mb-4"
                                    id="section">
                                    <option value="">SELECT SECTION</option>
                                    {% for sec in section %}
                                    <option value="{{ sec.0 }}" {% if selected_section == sec.0 %} selected {% endif %}>
                                        {{ sec.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <!-- Academic Year -->
                        <div class="col-md-2">
                            <div class="form-group">
                                <select name="year" class="form-control browser-default custom-select mb-4" id="year">
                                    <option value="">SELECT ACADEMIC YEAR</option>
                                    {% for yr in year %}
                                    <option value="{{ yr.0 }}" {% if selected_year == yr.0 %} selected {% endif %}>
                                        {{ yr.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <!-- Stream -->
                        <div class="col-md-2 stream-column">
                            <div class="form-group">
                                <select name="stream" class="form-control browser-default custom-select mb-4" id="stream">
                                    <option value="">SELECT STREAM</option>
                                    {% for str in stream %}
                                    <option value="{{ str.0 }}" {% if selected_stream == str.0 %} selected {% endif %}>
                                        {{ str.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <!-- Roll No -->
                        <div class="col-md-2 mb-4">
                            <div class="form-group">
                                <input name="roll_no" id="roll_no" type="text" class="form-control"
                                    value="{{ input_rollno }}" placeholder="Enter Roll No.">
                            </div>
                        </div>
                        <div class="offset-md-4 col-md-4"><button class="btn btn-primary btn-block" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
                <hr />
                <div class="row mt-4 mb-4 text-center">
                    <h3><strong>{% if no_record %} No Record Found {% endif %}</strong></h3>
                </div>
                <div class="row mt-4 mb-4">
                    <div>
                        <p class="box-look align-right">
                            Roll No. <span style="color: #39c0ed"> {{ display_rollno }} </span>
                        </p>
                        <p class="align-left">
                            <strong>Student's Name :</strong> {{ student.user.first_name|title }}
                            {{ student.user.last_name|title }} <br />
                            <strong>Father's Name :</strong> {{ student.user.middle_name|title }}
                            {{ student.user.last_name|title }} <br />
                            <strong>Mother's Name :</strong> {{ student.stud_mother_name|title }} {{ student.user.last_name|title }}<br />
                            <strong>Date of Birth :</strong> {{ student.user.date_of_birth }} <br />
                            <strong>Class-Section :</strong> {{ display_class_section }} <br />
                        </p>
                    </div>

                </div>
                <div class="row mt-4">
                    <div class="col">
                        <div class="table-responsive">
                            <table class="table text-center table-bordered table-hover">
                                <thead class="table-light sticky-header">
                                    <tr class="align-middle">
                                        <th>Scholastic Areas</th>
                                        <th colspan="6">Term-1 (100 Marks)</th>
                                        <th colspan="6">Term-2 (100 Marks)</th>
                                    </tr>
                                    <tr class="align-middle">
                                        <th rowspan="2">Sub Name</th>
                                        <th>Per. Test</th>
                                        <th>Notebook</th>
                                        <th>SEA</th>
                                        <th>Half Yearly</th>
                                        <th>Total</th>
                                        <th>Grade</th>
                                        <th>Per. Test</th>
                                        <th>Notebook</th>
                                        <th>SEA</th>
                                        <th>Half Yearly</th>
                                        <th>Total</th>
                                        <th>Grade</th>
                                    </tr>
                                    <tr class="align-middle">
                                        <th>10</th>
                                        <th>5</th>
                                        <th>5</th>
                                        <th>80</th>
                                        <th>100</th>
                                        <th></th>
                                        <th>10</th>
                                        <th>5</th>
                                        <th>5</th>
                                        <th>80</th>
                                        <th>100</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for sub in subjects %}
                                    <tr class="align-middle">
                                        <td>{{ sub.subject.subject_name }}</td>
                                        <td>{{ sub.per_test_1 }}</td>
                                        <td>{{ sub.notebook_1 }}</td>
                                        <td>{{ sub.sea_1 }}</td>
                                        <td>{{ sub.main_1 }}</td>
                                        <td>{{ sub.total_1 }}</td>
                                        <td>{{ sub.grade_1 }}</td>
                                        <td>{{ sub.per_test_2 }}</td>
                                        <td>{{ sub.notebook_2 }}</td>
                                        <td>{{ sub.sea_2 }}</td>
                                        <td>{{ sub.main_2 }}</td>
                                        <td>{{ sub.total_2 }}</td>
                                        <td>{{ sub.grade_2 }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col">
                        <div class="table-responsive">
                            <table class="table text-center table-bordered table-hover">
                                <thead class="table-light sticky-header">
                                    <tr class="align-middle">
                                        <th>Co-Scholastic Areas (on a 3-point [A-C] grading scale)</th>
                                        <th>Term-1</th>
                                        <th>Term-2</th>
                                    </tr>
                                    <tr class="align-middle">
                                        <th>Sub Name</th>
                                        <th>Grade</th>
                                        <th>Grade</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for sub in co_subjects %}
                                    <tr class="align-middle">
                                        <td>{{ sub.exam_cs_subject.subject_name }}</td>
                                        <td>{{ sub.exam_cs_grade_1 }}</td>
                                        <td>{{ sub.exam_cs_grade_2 }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% load static %}

{% block scripts %}
<!-- TableToJson jquery plugin CDN -->
<script src="{% static 'js/vendor/jquery.tabletojson.min.js' %}"></script>
<script>
let ele_class = $('#class')[0];

if (ele_class.value != '11' && ele_class.value != '12') {
    document.getElementsByClassName('stream-column')[0].style.display = "none";
    $('form .offset-md-4.col-md-4:last-child').attr('class', 'col-md-2')
}

$('#class').on('change', function () {
    if(this.value == '11' || this.value=='12') {
        document.getElementsByClassName('stream-column')[0].style.display = "block";
        $('form .col-md-2:last-child').attr('class', 'offset-md-4 col-md-4')   
    }else{
        document.getElementsByClassName('stream-column')[0].style.display = "none";
        $('form .offset-md-4.col-md-4:last-child').attr('class', 'col-md-2')
    }
})
</script>
{% endblock %}