{% extends 'base.html' %}


{% block body %}

<div class="container-fluid">
    <div class = "card border border-primary shadow-2-strong col-md-10 mx-auto" style = "margin-top: 2%;">
        <h4 class = "card-header text-center bg-primary text-white">Enrolment in Pre Primary Section and Grade I  ({{ academic_year }})</h4>
        <div class = "card-body m-4">
            <div class="my-2">
                <h5>4.1.1 Total Enrolment in Pre Primary section</h5>
                <div class="table-responsive">
                <div class="msg-1 mt-4"></div>
                <table class="table text-center table-bordered table-hover" id="table-1">                  
                    <thead class="table-light">
                        <tr>
                            <th>&nbsp;</th>
                            <th>LKG</th>
                            <th>UKG</th>
                        </tr>                    
                    </thead>
                    <tbody>
                        <tr>
                            <th>Boys</th>
                            <td contenteditable="true">{{ epp.epp_lkg_b|default_if_none:"--" }}</td>
                            <td contenteditable="true">{{ epp.epp_ukg_b|default_if_none:"--" }}</td>
                        </tr>
                        <tr>
                            <th>Girls</th>
                            <td contenteditable="true">{{ epp.epp_lkg_g|default_if_none:"--" }}</td>
                            <td contenteditable="true">{{ epp.epp_ukg_g|default_if_none:"--" }}</td>
                        </tr>
                    </tbody>
                </table>
                    </div>  
                <button class="btn btn-primary my-4" id="save-table-1">Save</button>  
            </div>
            <div class="my-2">
                <h5>4.1.2 New Admissions in Grade I</h5>
            <div class="table-responsive">
                <div class="msg-2 mt-4"></div>
                <table class="table text-center table-bordered table-hover" id="table-2">                  
                    <thead class="table-light">
                        <tr>
                            <th>&nbsp;</th>
                            <th colspan="5">Age (in complete years)</th>
                            <th>Total children admitted in grade 1</th>
                            <th colspan="3">Out of the Total in Grade I Number of children with pre-school experience in</th>
                        </tr>       
                        <tr>
                            <th>&nbsp;</th>
                            <th data-override="below_5">Below 5</th>
                            <th data-override="5">5</th>
                            <th data-override="6">6</th>
                            <th data-override="7">7</th>
                            <th data-override="above_7">Above 7</th>
                            <th>&nbsp;</th>
                            <th data-override="same_school">Same School</th>
                            <th data-override="another_school">Another School</th>
                            <th data-override="anganwadi_school">Anganwadi/ECCE centre</th>
                        </tr>             
                    </thead>
                    <tbody>
                        <tr>
                            <th>Boys</th>
                            <td contenteditable="true">{{ nag.nag_below_5_b|default_if_none:"--" }}</td>
                            <td contenteditable="true">{{ nag.nag_5_b|default_if_none:"--" }}</td>
                            <td contenteditable="true">{{ nag.nag_6_b|default_if_none:"--" }}</td>
                            <td contenteditable="true">{{ nag.nag_7_b|default_if_none:"--" }}</td>
                            <td contenteditable="true">{{ nag.nag_above_7_b|default_if_none:"--" }}</td>
                            <td>{{ nag.nag_total_b|default_if_none:"--" }}</td>
                            <td contenteditable="true">{{ nag.nag_same_school_b|default_if_none:"--" }}</td>
                            <td contenteditable="true">{{ nag.nag_another_school_b|default_if_none:"--" }}</td>
                            <td contenteditable="true">{{ nag.nag_anganwadi_school_b|default_if_none:"--" }}</td>
                        </tr>
                        <tr>
                            <th>Girls</th>
                            <td contenteditable="true">{{ nag.nag_below_5_g|default_if_none:"--" }}</td>
                            <td contenteditable="true">{{ nag.nag_5_g|default_if_none:"--" }}</td>
                            <td contenteditable="true">{{ nag.nag_6_g|default_if_none:"--" }}</td>
                            <td contenteditable="true">{{ nag.nag_7_g|default_if_none:"--" }}</td>
                            <td contenteditable="true">{{ nag.nag_above_7_g|default_if_none:"--" }}</td>
                            <td>{{ nag.nag_total_g|default_if_none:"--" }}</td>
                            <td contenteditable="true">{{ nag.nag_same_school_g|default_if_none:"--" }}</td>
                            <td contenteditable="true">{{ nag.nag_another_school_g|default_if_none:"--" }}</td>
                            <td contenteditable="true">{{ nag.nag_anganwadi_school_g|default_if_none:"--" }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>  
            <button class="btn btn-primary my-4" id="save-table-2">Save</button> 
            </div>
                     
        </div>
    </div>
    
</div>

{% endblock %}

{% block scripts %}

{% load static %}
<!-- TableToJson jquery plugin CDN -->
<script src="{% static 'js/vendor/jquery.tabletojson.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/util.js' %}"></script>
<script>
    $('td[contenteditable=true]').on('click', function(){
        document.execCommand('selectAll',false,null);
    })
    if(localStorage.getItem("Success-1")) {
        $(".msg-1").append(`<div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Saved Successfully!</strong> 
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>`); 
        localStorage.removeItem("Success-1")
    }
    if(localStorage.getItem("Success-2")) {
        $(".msg-2").append(`<div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Saved Successfully!</strong> 
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>`); 
        localStorage.removeItem("Success-2")
    }
    $('#save-table-1').click( function() {
        var table = $('#table-1').tableToJSON({
            ignoreRows: [0],  // To Ignore the first row consisting of table heading
            ignoreColumns: [0],
            headings: ['LKG',  // Array of Column Header names
            'UKG']
        }); // Convert the table into a javascript object
        // console.log(JSON.stringify(table));
        console.log(table);
        table[2] = false
        // Clean table values before sending
        table = JSON.stringify(table)
        table = table.replace(/--/g,'')

        // AJAX req to save changes in form
        fetch(`{% url 'schoolinfo:save_enrolment_pre_primary' academic_year %}`, {
            method: 'POST',
            headers: {
                "X-CSRFToken": getCookie("csrftoken"),
                'Content-Type': 'application/json'
            },
            body: table
            })
            .then((res) => res.json())
            .then(function(data) {
                console.log(data)
                if (data['err'] == undefined) {
                    localStorage.setItem("Success-1", "1")
                    window.location.reload()
                }else{
                    data['err'] = data['err'].replace(/'(.)'/g, '`$1`')
                    console.log(data['err'])
                    data['err'] = data['err'].replace(/'/g, '"')
                    console.log(data['err'])
                    data['err'] = JSON.parse(data['err'])
                    
                    for(let [key, val] of Object.entries(data['err'])) {
                        console.log(val);
                        $(".msg-1").append(`<div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong> ${key} - </strong> ${val}.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>`);
                    }
                }
            })
    });

    $('#save-table-2').click( function() {
        var table = $('#table-2').tableToJSON({
            ignoreRows: [0,1],  // To Ignore the first row consisting of table heading
            ignoreColumns: [0],
            headings: ['below_5',  // Array of Column Header names
            '5',
            '6',
            '7',
            'above_7',
            'same_school',
            'another_school',
            'anganwadi_school']
        }); // Convert the table into a javascript object
        // console.log(JSON.stringify(table));
        console.log(table);
        table[2] = true
        // Clean table values before sending
        table = JSON.stringify(table)
        table = table.replace(/--/g,'')
        console.log(table)

        // AJAX req to save changes in form
        fetch(`{% url 'schoolinfo:save_enrolment_pre_primary' academic_year %}`, {
            method: 'POST',
            headers: {
                "X-CSRFToken": getCookie("csrftoken"),
                'Content-Type': 'application/json'
            },
            body: table
            })
            .then((res) => res.json())
            .then(function(data) {
                console.log(data)
                if (data['err'] == undefined) {
                    localStorage.setItem("Success-2", "1")
                    window.location.reload()
                }else{
                    data['err'] = data['err'].replace(/'(.)'/g, '`$1`')
                    console.log(data['err'])
                    data['err'] = data['err'].replace(/'/g, '"')
                    console.log(data['err'])
                    data['err'] = JSON.parse(data['err'])
                    
                    for(let [key, val] of Object.entries(data['err'])) {
                        console.log(val);
                        $(".msg-2").append(`<div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong> ${key} - </strong> ${val}.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>`);
                    }
                }
            })
    });
</script>
{% endblock %}