{% extends 'base.html' %}

{% block body %}
<!-- Table with panel -->


<div class = "container" style = "padding-top: 2%; padding-bottom: 4%;">
    <div class = "card border border-primary  shadow-2-strong col-md-10 mx-auto">
        <div class="card card-cascade narrower">

      
            <div
              class="view view-cascade bg-primary gradient-card-header blue-gradient narrower py-2 d-flex justify-content-between align-items-center">
          
              
          
              <a href="" style="color:white" class="white-text mx-3 "><b>Library :</b></a>
          
              
          
            </div>
         
         
            <div class="px-4">
                <div class="table-responsive">
                    <table id="dt-cell-sellection" class="table table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Available</th>
                                <th>Total Number of books</th>
                                <th>Total Number of books from NCERT, NBT or any other Government publisher</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><b>Library</b></td>
                                <td>{{object.sli_lib_avai}}</td>
                                <td>{{object.sli_lib_books}}</td>
                                <td>{{object.sli_lib_ncert}}</td>
                            </tr>
                            <tr>
                                <td><b>Book Bank</b></td>
                                <td>{{object.sli_book_avai}}</td>
                                <td>{{object.sli_book_books}}</td>
                                <td>{{object.sli_book_ncert}}</td>
                            </tr>
                            <tr>
                                <td><b>Reading Corner</b></td>
                                <td>{{object.sli_reading_avai}}</td>
                                <td>{{object.sli_reading_books}}</td>
                                <td>{{object.sli_reading_ncert}}</td>
                            </tr>
                        </tbody>
                        
                    </table>
                </div>
        




            
            <hr>
            <div>
              
                <button style="margin-left:40px;margin-top: 30px;" type="button"  class="btn btn-primary" onclick="location.href='/schoolinfo/physical-details/{{ request.resolver_match.kwargs.pk }}';" >Physical Facilities and Equipments</button>
            


                
            </div>     
                            
            <hr>       
                    
                        

                       
                 
        

</div>
</div>

    </div>
    </div>

{% endblock %}