{% extends 'base.html' %}

{% block schoolinfo_link %}         
<li class="nav-item">
  <a class="nav-link" aria-current="page" href="{% url 'schoolinfo:sections_home' academic_year %}">School Info</a>
</li> 
{% endblock %}

{% block body %}

<div class = "card border border-primary shadow-2-strong col-md-8 mx-auto" style = "margin-top: 2%;">
  <h4 class = "card-header text-center bg-primary text-white">School Information {{ academic_year }}</h4>
  <div class = "card-body">
      <form action="" method="POST">
        {% csrf_token %}
          <div class="row">
                <div class="col-md-10">{{ form.as_p }}</div>
                <div class = "col-md-2"><button type="submit" class="btn btn-primary btn-sm">Submit</button></div>
          </div>            
      </form> 
  </div> 
</div>

<div class = "container" style = "padding-top: 2%; padding-bottom: 4%;">
<div class = "card border border-primary shadow-2-strong col-md-10 mx-auto">
    <h5 class = "card-header text-center bg-primary text-white">{{ school_name }}</h5>
<div class = "card-body">
    <table class="table table-bordered border-primary table-hover text-center">
        <thead>
            <tr>
              <th scope="col">SECTION</th>
              <th scope="col">INFORMATION</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="row">1</td>
              <td><a href = "{% url 'schoolinfo:school_profile' academic_year %}">School Profile</a></td>
            </tr>
            <tr>
              <td scope="row">2</td>
              <td><a href = "{% url 'schoolinfo:physical_facilities' academic_year %}">Physical Facilities and Equipments</a></td>
            </tr>
            <tr>
              <td scope="row">3</td>
              <td><a href = "{% url 'schoolinfo:school_rte' academic_year %}">Students Enrolled under Section 12 of RTE Act</a></td>
            </tr>
          <tr>
            <td scope="row">4</td>
            <td><a href = "{% url 'schoolinfo:school_ews' academic_year %}">No. of Economically Weaker Section(EWS)students Enrolled</a></td>
          </tr>
          <tr>
            <td scope="row">5</td>
            <td><a href = "{% url 'schoolinfo:school_library' academic_year %}">Library</a></td>
          </tr>
          <tr>
            <td scope="row">6</td>
            <td><a href = "{% url 'schoolinfo:school_items' academic_year %}">Items</a></td>  
          </tr>
          <tr>
            <td scope="row">7</td>
            <td><a href = "{% url 'schoolinfo:school_toilets' academic_year %}">Details of School Toilets</a></td>  
          </tr>
          </tbody>
        </table>

 

</div>
</div>
</div>


{% endblock %}