{% extends 'base.html' %}
{% load static %}

{% block title %}
    View Employee records
{% endblock title %}

{% block body %}
    <div class="container">
        <br>
        <h1 class="text-center">Fetch Employees record</h1>
        <form id="fetchForm" method="post" data-school-url="{% url 'attendance:load_school' %}"
              data-block-url="{% url 'attendance:load_block' %}">
            {% csrf_token %}
            {% include 'attendance/fetch_form.html' %}
            <button type="submit" class="btn btn-primary">Fetch Employee</button>
        </form>
    </div>
{% endblock body %}

{% block scripts %}
    <!-- for fetching based on district -->
    <script>
        $("#id_district").change().change((el) => {
            const fetch_form = $("#fetchForm")
            const school_url = fetch_form.attr("data-school-url");
            const block_url = fetch_form.attr("data-block-url")
            let district_id = $(el.target).val();

            // for fetching schools
            $.ajax({
                url: school_url,
                data: {
                    'data_type': 'district',
                    'district_id': district_id,
                },
                success: function (data) {
                    $("#id_school").html(data);
                }
            });

            // for fetching blocks
            $.ajax({
                url: block_url,
                data: {
                    'district_id': district_id
                },
                success: function (data) {
                    $("#id_block").html(data);
                }
            });

        });
    </script>

    <!-- for fetching based on block -->
    <script>
        $("#id_block").change().change((el) => {
            const school_url = $("#fetchForm").attr("data-school-url");
            let district_id = $("#id_district").val()
            let block_id = $(el.target).val();

            // for fetching schools
            $.ajax({
                url: school_url,
                data: {
                    'data_type': 'block',
                    'block_id': block_id,
                    'district_id': district_id
                },
                success: function (data) {
                    $("#id_school").html(data);
                }
            });
        });
    </script>
{% endblock scripts %}