{% extends 'base.html' %}

{% block body %}
<!-- Table with panel -->


<div class = "container" style = "padding-top: 2%; padding-bottom: 4%;">
    <div class = "card border border-primary  shadow-2-strong col-md-10 mx-auto">
        <div class="card card-cascade narrower">

      
            <div
              class="view view-cascade bg-primary gradient-card-header blue-gradient narrower py-2 d-flex justify-content-between align-items-center">
          
              
          
              <a href="" style="color:white" class="white-text mx-3 "><b>Library :</b></a>
          
              
          
            </div>
         
         
            <div class="px-4">
        <table id="dt-cell-sellection" class="table table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th colspan="2">Items</th>
                    <th colspan="1">Available</th>
                    <th colspan="1">Total No. of units</th>
                    <th colspan="1">No. of functional Units</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2"><b>Laptop/Notebook</b></td>
                    <td>{{object.sit_lap_avai}}</td>
                    <td>{{object.sit_lap_units}}</td>
                    <td>{{object.sit_lap_func}}</td>
                </tr>
                <tr>
                    <td colspan="2"><b>Tablets</b></td>
                    <td>{{object.sit_tab_avai}}</td>
                    <td>{{object.sit_tab_units}}</td>
                    <td>{{object.sit_tab_func}}</td>
                </tr>
                <tr>
                    <td colspan="2"><b>Desktop Computers</b></td>
                    <td>{{object.sit_desk_avai}}</td>
                    <td>{{object.sit_desk_units}}</td>
                    <td>{{object.sit_desk_func}}</td>
                </tr>
                <tr>
                    <td colspan="2"><b>PCs with Integrated Teaching Learning Devices</b></td>
                    <td>{{object.sit_pc_avai}}</td>
                    <td>{{object.sit_pc_units}}</td>
                    <td>{{object.sit_pc_func}}</td>
                </tr>
                <tr>
                    <td colspan="2"><b>Digital Boards with Content Management Systems and solutions(CMS)/Learning Management System</b></td>
                    <td>{{object.sit_boards_avai}}</td>
                    <td>{{object.sit_boards_units}}</td>
                    <td>{{object.sit_boards_func}}</td>
                </tr>
                <tr>
                    <td colspan="2"><b>Server</b></td>
                    <td>{{object.sit_server_avai}}</td>
                    <td>{{object.sit_server_units}}</td>
                    <td>{{object.sit_server_func}}</td>
                </tr>
                <tr>
                    <td colspan="2"><b>Porjector</b></td>
                    <td>{{object.sit_proj_avai}}</td>
                    <td>{{object.sit_proj_units}}</td>
                    <td>{{object.sit_proj_func}}</td>
                </tr>
                <tr>
                    <td colspan="2"><b>LCD/LED/Plasma Screen</b></td>
                    <td>{{object.sit_lcd_avai}}</td>
                    <td>{{object.sit_lcd_units}}</td>
                    <td>{{object.sit_lcd_func}}</td>
                </tr>
                <tr>
                    <td colspan="2"><b>Printer</b></td>
                    <td>{{object.sit_print_avai}}</td>
                    <td>{{object.sit_print_units}}</td>
                    <td>{{object.sit_print_func}}</td>
                </tr>
                <tr>
                    <td colspan="2"><b>Scanner</b></td>
                    <td>{{object.sit_scan_avai}}</td>
                    <td>{{object.sit_scan_units}}</td>
                    <td>{{object.sit_scan_func}}</td>
                </tr>
                <tr>
                    <td colspan="2"><b>Web Camera</b></td>
                    <td>{{object.sit_web_avai}}</td>
                    <td>{{object.sit_web_units}}</td>
                    <td>{{object.sit_web_func}}</td>
                </tr>
                <tr>
                    <td colspan="2"><b>Generator/Invertor/UPS</b></td>
                    <td>{{object.sit_gen_avai}}</td>
                    <td>{{object.sit_gen_units}}</td>
                    <td>{{object.sit_gen_func}}</td>
                </tr>
                <tr>
                    <td colspan="2"><b>Internet Facility</b></td>
                    <td>{{object.sit_net_avai}}</td>
    
                </tr>
                <tr>
                    <td colspan="2"><b>DTH-TV Antenna</b></td>
                    <td>{{object.sit_dth_avai}}</td>
    
                </tr>
                <tr>
                    <td colspan="2"><b>E-Content and Digital Resources for I-XII</b></td>
                    <td>{{object.sit_digital_avai}}</td>
    
                </tr>
                <tr>
                    <td colspan="2"><b>Assistive tech-based solutions for CWSN</b></td>
                    <td>{{object.sit_cwsn_avai}}</td>
    
                </tr>
            </tbody>
            
        </table>




            
            <hr>
            <div>
                
                <button style="margin-left:40px;margin-top: 30px;" type="button"  class="btn btn-primary" onclick="location.href='/schoolinfo/physical-details/{{ request.resolver_match.kwargs.pk }}';" >Physical Facilities and Equipments</button>
            


            </div>     
                            
            <hr>       
                    
                        

                       
                 
        

</div>
</div>

    </div>
    </div>

{% endblock %}