{% extends 'base.html' %}

{% block body %}
<!-- Table with panel -->


<div class = "container" style = "padding-top: 2%; padding-bottom: 4%;">
    <div class = "card border border-primary  shadow-2-strong col-md-10 mx-auto">
        <div class="card card-cascade narrower">

      
            <div
              class="view view-cascade bg-primary gradient-card-header blue-gradient narrower py-2 d-flex justify-content-between align-items-center">
          
              
          
              <a href="" style="color:white" class="white-text mx-3 "><b>Details of Toilets :</b></a>
          
              
          
            </div>
         
         
            <div class="px-4">
        <table id="dt-cell-sellection" class="table table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Status of Implementation</th>
                    <th>Availability</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Whether the School Disaster Management Plan (SDMP) has been developed ?</td>
                    <td>{{object.sst_sdmp}}</td>
                </tr>
                <tr>
                    <td>Whether Structural Safety Audit has been conducted ?</td>
                    <td>{{object.sst_audit}}</td>
                </tr>
                <tr>
                    <td>Whether Non- structural Safety Audit has been conducted ?</td>
                    <td>{{object.sst_non_audit}}</td>
                </tr>
                <tr>
                    <td>Whether CCTV Cameras available in school ?</td>
                    <td>{{object.sst_cctv}}</td>
                </tr>
                <tr>
                    <td>Whether Fire Extinguishers are installed ?</td>
                    <td>{{object.sst_fire}}</td>
                </tr>
                <tr>
                    <td>Does the school have a nodal teacher for school safety?</td>
                    <td>{{object.sst_nodal}}</td>
                </tr>
                <tr>
                    <td>Whether students and teachers undergo regular training in school safety and disaster preparedness?</td>
                    <td>{{object.sst_teach_train}}</td>
                </tr>
                <tr>
                    <td>Whether disaster management is being taught as part of the curriculum ?</td>
                    <td>{{object.sst_disaster}}</td>
                </tr>
                <tr>
                    <td>Whether school has received grant for Self Defense Training for Girls ?</td>
                    <td>{{object.sst_self}}</td>
                </tr>
                <tr>
                    <td>If yes, No. of students provided training (provide actual number of student trained)</td>
                    <td>{{object.sst_actual}}</td>
                </tr>
                <tr>
                    <td>Whether the school has displayed safety guidelines on Display Board?</td>
                    <td>{{object.sst_guidelines}}</td>
                </tr>
                <tr>
                    <td>Whether all teachers have received grant for working as first level counselors? (Only for Government Schools)</td>
                    <td>{{object.sst_first}}</td>
                </tr>
                <tr>
                    <td colspan="4"><b>If Yes, Whether the school has carried out the following Activities?</b></td>
                </tr>
                <tr>
                    <td>i) Guidance & Counselling</td>
                    <td>{{object.sst_counseling}}</td>
                </tr>
                <tr>
                    <td>ii) Sensitization of parents</td>
                    <td>{{object.sst_sensitization}}</td>
                </tr>
                <tr>
                    <td>iii) Awareness generation for Students and community</td>
                    <td>{{object.sst_aware}}</td>
                </tr>
                <tr>
                    <td>iv) Provision for taking feedback of the students</td>
                    <td>{{object.sst_provision}}</td>
                </tr>
                <tr>
                    <td>v) Suggestions/Complaint box in the schools</td>
                    <td>{{object.sst_suggestions}}</td>
                </tr>
                <tr>
                    <td>vi) Providing copies of safety guidelines to the students</td>
                    <td>{{object.sst_copies}}</td>
                </tr>
            </tbody>
            
        </table>




            
            <hr>
            <div>
                
                <button type="button"  class="btn btn-primary" onclick="location.href='/schoolinfo/school-profile-details/{{ request.resolver_match.kwargs.pk }}';" >School Basic Details</button>
            
               

                
            </div>     
                            
            <hr>       
                    
                        

                       
                 
        

</div>
</div>

    </div>
    </div>

{% endblock %}