{% extends 'base.html' %}
{% load custom_tags %}
{% block body %}

<div class = "container" style = "padding-top: 2%; padding-bottom: 4%;">
<div class = "card border border-primary shadow-2-strong col-md-10 mx-auto">
<h2 class = "card-header text-center bg-primary text-white">School Profile</h2>
<div class = "card-body">
<form method = "POST" action = "">
    {% csrf_token %}
    <div class="container" style = "padding-top: 2%; padding-bottom: 4%;">
        <form action="" method="POST" class="text-center border border-light p-5" >
            {% csrf_token %}
            <p class="h4 mb-5">Number of sections by class(if the class is stand alone, has no section then enter 1)</p>
            {% if error_msg %}
                <span class="text-left text-danger large">
                    <ul class="errorlist">
                        <li>{{ error_msg }}</li>
                    </ul>
                </span>
            {% endif %}
        
            <div class="row mt-4">
                <div class="col">
                    
                    <div class="table-responsive">
                        <table id="table" class="table text-center table-bordered">
                            <thead>
                                <tr class="table-light align-middle">
                                    <th scope="col" >Classes</th>
                                    <th scope="col" >Number of Sections</th>
                                    <!--<th scope="col" colspan="2">Classes</th>
                                    <th scope="col" colspan="2">Number of Sections</th>-->
                                    
                                </tr>                       
                            </thead>
                            <tbody>
                                <div class="form-group row mb-3">
                                {% with count=0 %}   
                                {% for field in form %}
                                    <tr>
                                        <th><label class="col-sm-5 col-form-label">{{ field.label }}</label></th>
                                        <th >{{ field }}</th>
                                    </tr>
                                      <span class="text-danger small">{{ field.errors }}</span>
                                  
                                {% endfor %}
                                {% endwith %}
                                </div>
                            </tbody>
                        </table>                
                    </div>
                    <button id="convert-table" class="btn btn-primary">Save</button>
                </div>
            </div>
            
    </div>
    
</form>
</div>
</div>
</div>


{% endblock %}