{% extends 'base.html' %}

{% block body %}

<div class = "container" style = "padding-top: 2%; padding-bottom: 4%;">
<div class = "card border border-primary shadow-2-strong col-md-8 mx-auto">
    <!-- <h2 class = "card-header text-center bg-primary text-white">Sections</h2> -->
<div class = "card-body">
    <table class="table table-bordered border-primary table-hover text-center">
        <thead>
            <tr>
              <th scope="col">SECTION</th>
              <th scope="col">INFORMATION</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="row">1</td>
              <td><a href = "{% url 'schoolinfo:school_profile' %}">School Profile</a></td>
            </tr>
            <tr>
              <td scope="row">2</td>
              <td><a href = "{% url 'schoolinfo:physical_facilities' %}">Physical Facilities and Equipments</a></td>
            </tr>
          </tbody>
        </table>

    </table>

</div>
</div>
</div>


{% endblock %}