{% extends 'base.html' %}

{% block title %}
    Details of Toilets
{% endblock title %}

{% block body %}
    <div class="container">
        
        <div>
            <a href="#" class="btn"><i class="fas fa-chevron-left"></i>&nbsp;back</a>
        </div>
        <br>        
        <h3>Details of Toilets</h3>
        <div class="table-responsive">
                <table id="table" class="table text-center table-bordered">
                   
					<thead>
                        <tr class="table-light align-middle">
                                <th></th>
                                <th colspan="2">Boys</th>
                                <th colspan="2">Girls</th>
                                <th colspan="2">Total</th>
                            </tr>
                            <tr>
                                <th>Desciption</th>
                                <th>Total</th>
                                <th>Functional</th>
                                <th>Total</th>
                                <th>Functional</th>
                                <th>Total</th>
                                <th>Functional</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><b>No. of toilets seats available excluding CWSN friendly toilets</b></td>
                                <td>{{object.st_boys_total_cwsn}}</td>
                                <td>{{object.st_boys_func_cwsn}}</td>
                                <td>{{object.st_girls_total_cwsn}}</td>
                                <td>{{object.st_girls_func_cwsn}}</td>
                                <td>{{object.st_total_cwsn}}</td>
                                <td>{{object.st_func_cwsn}}</td>
                            </tr>
                            <tr>
                                <td><b>No. of CWSN friendly toilet seats</b></td>
                                <td>{{object.st_boys_total_seats}}</td>
                                <td>{{object.st_boys_func_seats}}</td>
                                <td>{{object.st_girls_total_seats}}</td>
                                <td>{{object.st_girls_func_seats}}</td>
                                <td>{{object.st_total_seats}}</td>
                                <td>{{object.st_func_seats}}</td>
                            </tr>
                            <tr>
                                <td><b>Total number of toilet seats including CWSN friendly toilets</b></td>
                                <td>{{object.st_boys_total_cwsn_seats}}</td>
                                <td>{{object.st_boys_func_cwsn_seats}}</td>
                                <td>{{object.st_girls_total_cwsn_seats}}</td>
                                <td>{{object.st_girls_func_cwsn_seats}}</td>
                                <td>{{object.st_total_cwsn_seats}}</td>
                                <td>{{object.st_func_cwsn_seats}}</td>
                            </tr>
                            <tr>
                                <td><b>Total number of Urinals available</b></td>
                                <td>{{object.st_boys_total_urinals}}</td>
                                <td>{{object.st_boys_func_urinals}}</td>
                                <td>{{object.st_girls_total_urinals}}</td>
                                <td>{{object.st_girls_func_urinals}}</td>
                                <td>{{object.st_total_urinals}}</td>
                                <td>{{object.st_func_urinals}}</td>
                            </tr>
                        </tbody>
                        
                    </table>
        </div>
        
        <hr>
		     <button style="margin-left:40px;margin-top: 30px;" type="button"  class="btn btn-primary" onclick="location.href='/schoolinfo/physical-details/{{ request.resolver_match.kwargs.pk }}';" >Physical Facilities and Equipments</button>
            <hr>

    </div>

{% endblock body %}
