{% extends 'base.html' %}

{% block body %}

<div class = "container" style = "padding-top: 2%; padding-bottom: 4%;">
<div class = "card border border-primary shadow-2-strong col-md-8 mx-auto">
    <h2 class = "card-header text-center bg-primary text-white">Update Student Record</h2>
<div class = "card-body">
<form method = "POST" action = "">
    {% csrf_token %}
    {% for field in form %}
    
    <div class="form-group row mb-3">
        <div class="col-auto align-self-center"></div>
        {% if field.label != '' %}
          <label class="col-sm-3 col-form-label">{{ field.label }}</label>
          {% endif %}
          <div class="col-sm-8 align-self-center">{{ field }}</div>
          <span class="text-danger small">{{ field.errors }}</span>
      </div>
    {% endfor %}
    
    <div class = "text-center">
    <button class="btn btn-primary" type="submit">Save</button>
    </div>
</form>
</div>
</div>
</div>

<script>
        function manage() {
            var bt = document.getElementById('id_stud_stream');
            if (id_stud_class.value != 11 && id_stud_class.value != 12) {
                console.log(id_stud_class.value)
                bt.disabled = true;
                console.log(bt.disabled)
            }
            else {
                
                console.log(id_stud_class.value)
                bt.disabled = false;
                console.log(bt.disabled)
            }
        }
    </script>
{% endblock %}