{% extends 'base.html' %}

{% block body %}
<script>
    function manage() {
        var bt = document.getElementById('stream');
        if (input.value != 11 && input.value != 12) {
            console.log(input.value)
            bt.disabled = true;
            console.log(bt.disabled)
        }
        else {

            console.log(input.value)
            bt.disabled = false;
            console.log(bt.disabled)
        }
    }
</script>
<div class="container-fluid" style="padding-top: 2%; padding-bottom: 4%;">
    <div class="card border border-primary shadow-2-strong col-md-11 mx-auto">
        <h2 class="card-header text-center bg-primary text-white">Student List</h2>
        <div class="card-body">
            <div class="container-fluid">
                <form class="form-inline input-lg" action="" method="get" accept-charset="utf-8">
                    <div class="row">
                        {% if not request.user.is_school_admin %}

                        <div class="col-md-3">
                            <select class="custom-select form-control form-control-lg  w-100" name="input_school"
                                id="school_id" required>
                                <option value="">Select School</option>
                                {% for school in school_list %}
                                <option value="{{ school.id }}" {% if currentschool == school.id %}selected{% endif %}>
                                    {{ school }} </option>
                                {% endfor %}

                            </select>
                        </div>
                        {% endif %}
                        <div class="col-md-2">
                            <select class="custom-select form-control form-control-lg  w-100" name="input_class"
                                id="input" onchange="manage()" required>
                                <option value="">Select Class</option>
                                {% for class in class_list %}
                                <option value="{{ class }}" {% if currentclass == class %}selected{% endif %}>
                                    Class-{{ class }} </option>
                                {% endfor %}

                            </select>
                        </div>
                        <div class="col-md-2">
                            <select class="custom-select form-control form-control-lg  w-100" name="input_section"
                                required>
                                <option value="">Select Section</option>
                                {% for section in section_list %}
                                <option value="{{ section }}" {% if currentsection == section %}selected{% endif %}>
                                    Section-{{ section }}</option>
                                {% endfor %}
                                <option {% if currentsection == 'NA' %}selected{% endif %}>NA</option>
                            </select>
                        </div>

                        <div class="col-md-3">
                            <select class="custom-select form-control form-control-lg  w-100" name="input_stream"
                                id="stream" disabled required>
                                <option value="">Select Stream</option>
                                {% for stream in stream_list %}
                                <option value="{{ stream.0 }}" {% if currentstream == stream.0 %}selected{% endif %}>
                                    {{ stream.1 }}</option>
                                {% endfor %}

                            </select>
                        </div>

                        <div class="col-md-2 py-1">
                            <button class="btn btn-primary  w-100 " type="submit"
                                style="margin-right:20px; font-size: 15px;line-height:2.0 ">Search</button>
                        </div>
                        {% if request.user.is_school_admin %}
                        <div class="col-md-2 col-sm-3 py-1">
                            <a href="{% url 'profiles:student-signup' %}" class="btn w-100 "
                                style="font-size: 15px;line-height:2.0 "><i class="fa fa-plus" aria-hidden="true"> </i>
                                Add Student</a>
                        </div>
                        {% endif %}
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>

<div class="card border border-primary shadow-2-strong  col-md-11 mx-auto">
    {% if currentclass is not None and currentsection is not None %}


    <h2 class="card-header text-center bg-primary text-white">Class-{{ currentclass }} Section-{{ currentsection }}
        Stream-{{ currentstream }}</h2>
    <div class="card-body">
        <div class="table-responsive">
            <table id="table" class="table table-bordered border-primary table-hover text-center">
                <thead>
                    <tr>
                        <th scope="col">STUDENT ROLL NO</th>
                        <th scope="col">STUDENT NAME</th>
                        <th scope="col">GENDER</th>
                        <th scope="col">DATE OF BIRTH</th>
                        <th scope="col">ADMISSION DATE</th>
                        <th scope="col">PARENTS CONTACT NO</th>
                        <th scope="col">ACADEMICS RECORD</th>

                    </tr>
                </thead>
                <tbody>
                    {% for stud in student %}
                    <tr>
                        <td>{{ stud.stud_rollno }} </td>
                        <td><a href="{% url 'profiles:student-info' stud.id %}">{{ stud.user.first_name }}
                                {{ stud.user.middle_name }} {{ stud.user.last_name }}</a></td>
                        <td>{{ stud.user.gender }}</td>
                        <td>{{ stud.user.date_of_birth }}</td>
                        <td>{{ stud.stud_admissionDate }}</td>
                        <td>{{ stud.stud_parentContact }}</td>
                        <td>
                            <a
                                href="{% url 'exams:student-report-id' stud.id %}{% if not user.is_school_admin %}?school={{ stud.stud_school.id }}{% endif %}">View</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
        {% endif %}


    </div>
</div>






{% endblock %}