{% extends 'base.html' %}

{% block title %}
    Home
{% endblock title %}


{% block body %}
    <div class="container my-4">
        <div class="card bg-blue-100 mb-4 shadow-none">
            <div class="card-body p-5">
                <div class="row">
                    <div class="col-8">
                        <h2>Welcome {{ student.full_name|capfirst }},</h2>
                        <p>Class : {{ student.stud_class }}, Roll : {{ student.stud_rollno }}</p>
                        <p>{{ student.stud_school }}</p>
                        <a href="{{student.get_absolute_url}}" class='btn btn-primary mr-auto'>
                            View my profile
                        </a>
                    </div>
                    <div class="col-4">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <div class="card shadow-none border">
                    <div class="card-body p-4">
                        <div class="row">
                            <div class="col-6 small">
                                <strong>Attendance</strong>
                            </div>
                            <div class="col-6 small">
                                <a href="{% url 'attendance:my_home'%}" class='underline ml-auto d-flex align-items-center'>See Detail <i class="material-icons">arrow_right_alt</i></a>
                            </div>
                        </div>
                        <canvas id="attendanceChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="card shadow-none border">
                    <div class="card-body p-4">
                        <div class="row">
                            <div class="col-6 small">
                                <strong>Academic</strong>
                            </div>
                            <div class="col-6 small">
                                <a href="{% url 'exams:student-report'%}" class='underline ml-auto d-flex align-items-center'>See Detail <i class="material-icons">arrow_right_alt</i></a>
                            </div>
                        </div>
                        <canvas id="academicChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-colorschemes"></script>

    <script>
        var ctx = document.getElementById('attendanceChart').getContext('2d');
        var academicCtx = document.getElementById('academicChart').getContext('2d');
        window.onload = () => {
            fetch_attendance();
            fetch_academics();
        }
        function fetch_attendance() {
            let route = "{% url 'get_attendance' %}"
            fetch(`${route}`)
            .then(res => res.json())
            .then(res => {
                var chart =  new Chart(ctx, {
                    type: 'pie',
                    data: {
                        labels: res['labels'],
                        datasets: [{
                            label: 'This Month Attendance',
                            data: res['data']
                        }]
                    },
                    options: {
                        plugins: {
                            colorschemes: {
                                scheme: 'brewer.PastelTwo8'
                            }
                        }
                    },
                });
            })
        }
        function fetch_academics() {
            let route = "{% url 'get_academic_data' %}"
            fetch(`${route}`)
            .then(res => res.json())
            .then(res => {
                const data = {
                    labels: res['label'],
                    datasets: [
                        {
                            label: 'Term One Record',
                            data: res['term_one']
                        }
                    ]
                }
                if(res['term_two'].length > 0) {
                    data.datasets.push(
                        {
                            label: 'Term Two Record',
                            data: res['term_two']
                        }
                    )
                }
                var academicChart = new Chart(academicCtx, {
                    type: 'bar',
                    data,
                    options: {
                        plugins: {
                            colorschemes: {
                                scheme: 'brewer.PastelTwo8'
                            }
                        },
                        scales: {
                            yAxes: [{
                                display: true,
                                ticks: {
                                    beginAtZero: true,
                                    max: 100,
                                    steps:10
                                }
                            }]
                        },
                        title: {
                            display: true,
                            text: 'Chart.js Line Chart - Legend'
                        }
                    },
                });
            })
        }
    </script>
{% endblock body %}