{% extends 'base.html' %}

{% block title %}
    Home
{% endblock title %}


{% block body %}
    <div class="container my-4">
        <div class="card bg-blue-100 mb-4">
            <div class="card-body p-5">
                <div class="row">
                    <div class="col-8">
                        <h2>Welcome Kirtesh Suthar,</h2>
                        <p>Class : X</p>
                        <p>School name english high school</p>
                        <a href="#" class='btn btn-primary mr-auto'>
                            View my profile
                        </a>
                    </div>
                    <div class="col-4">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 mb-3">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="row">
                            <div class="col-6 small">
                                <strong>Attendance</strong>
                            </div>
                            <div class="col-6 small">
                                <a href="" class='underline ml-auto'>See Detail -></a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-sm-6 mb-3">
                <div class="card ">
                    <div class="card-body p-4">
                        <div class="row">
                            <div class="col-6 small">
                                <strong>Academic</strong>
                            </div>
                            <div class="col-6 small">
                                <a href="" class='underline ml-auto'>See Detail -></a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}