{% extends 'base.html' %}
{% block body %}
<div class = 'container'>

&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;<p><a class = 'btn btn-primary' href = "{% url 'teach_staff:NonTeachers_Update' pk=NonTeachers_detail_obj.pk %}">Update</a> &nbsp; &nbsp;<a class = 'btn btn-danger' href = "{% url 'teach_staff:NonTeachers_Delete' pk=NonTeachers_detail_obj.pk %}">Delete</a>


<br/>

<div class = "container" style = "padding-top: 2%; padding-bottom: 4%;">
    <div class = "card border border-primary  shadow-2-strong col-md-10 mx-auto">
        <div class="card card-cascade narrower">
            
            <!--Card image-->
            <div
              class="view view-cascade bg-primary gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
          
              
          
              <a href="" style="color:white" class="white-text mx-3 "><b>Basic Details :</b></a>
          
              
            
            </div>
            <!--/Card image-->
            
            <div class="px-4">
        <table id="dt-cell-sellection" class="table" cellspacing="0" width="100%">
        <thead></thead>
        <tbody>
        <tr>
            <td><b>Name:</b></td>
            <td>{{NonTeachers_detail_obj.NonTeachers_Name}}</td>
            <td><b>Working in:</b></td>
            <td>{{NonTeachers_detail_obj.NonTeachers_School}}</td>
        </tr>
        <tr>
            <td><b>Date of Birth:</b></td>
            <td>{{NonTeachers_detail_obj.NonTeachers_Date_of_birth}}</td>
            <td><b>Gender:</b></td>
            <td>{{NonTeachers_detail_obj.NonTeachers_Gender}}</td>
        </tr>
        <tr>
            <td><b>Social Category</b></td>
            <td>{{NonTeachers_detail_obj.NonTeachers_Social_Category}}</td>
            <td><b>Nature of Appointment:</b></td>
            <td>{{NonTeachers_detail_obj.NonTeachers_Nature_Of_Appointment}}</td>
        </tr>
        <tr>
            <td><b>Year of Joining:</b></td>
            <td>{{NonTeachers_detail_obj.NonTeachers_Joining_Year}}</td>
            <td><b>Disability:</b></td>
            <td>{{NonTeachers_detail_obj.NonTeachers_Disability}}</td>
        </tr>
        
        <tr>
            <td><b>Qualification:</b></td>
            <td>{{NonTeachers_detail_obj.NonTeacher_Qualifications}}</td>
            
            <td><b>Contact:</b></td>
            <td>{{NonTeachers_detail_obj.NonTeachers_Contact_Number}}</td>
            
        </tr>
        <tr>
            <td><b>Email:</b></td>
            <td>{{NonTeachers_detail_obj.NonTeachers_Email}}</td>
            <td><b>Other:</b></td>
            <td>{{NonTeachers_detail_obj.NonTeachers_Other_Info}}</td>
        </tr>
       
    </tbody>
    </table>

    
               
               
              
                <!--Ugradation year-->
              
               
                
                
        

            <table id="dt-cell-sellection" class="table" cellspacing="0" width="100%">
                <thead></thead>
                <tbody>
                    
                </tbody>
            </table> 
        


</div>
</div>

    </div>
    </div>

{% endblock %}