{% extends 'base.html' %}

{% block body %}
<!-- Table with panel -->
<br/><br/>
&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;<a class = 'btn btn-primary'  href = "{% url 'teach_staff:Teacher_Update' pk=Teaching_Staff_Info_Detail_Object.pk %}">Update</a> &nbsp; &nbsp; <a class = 'btn btn-danger' href = "{% url 'teach_staff:Teacher_Delete' pk=Teaching_Staff_Info_Detail_Object.pk %}">Delete</a>
<div class = "container" style = "padding-top: 2%; padding-bottom: 4%;">
    <div class = "card border border-primary  shadow-2-strong col-md-10 mx-auto">
        <div class="card card-cascade narrower">
            
            <!--Card image-->
            <div
              class="view view-cascade bg-primary gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
          
              
          
              <a href="" style="color:white" class="white-text mx-3 "><b>Basic Details :</b></a>
          
              
            
            </div>
            <!--/Card image-->
            
            <div class="px-4">
        <table id="dt-cell-sellection" class="table" cellspacing="0" width="100%">
        <thead></thead>
        <tbody>
        <tr>
            <td><b>Name:</b></td>
            <td>{{Teaching_Staff_Info_Detail_Object.Teacher_Name}}</td>
            <td><b>Code:</b></td>
            <td>{{Teaching_Staff_Info_Detail_Object.Teacher_Code}}</td>
        </tr>
        <tr>
            <td><b>School:</b></td>
            <td>{{Teaching_Staff_Info_Detail_Object.Teacher_School}}</td>
            <td><b>Gender:</b></td>
            <td>{{Teaching_Staff_Info_Detail_Object.Teacher_Gender}}</td>
        </tr>
        <tr>
            <td><b>Email:</b></td>
            <td>{{Teaching_Staff_Info_Detail_Object.Teacher_Email}}</td>
            <td><b>Contact Info:</b></td>
            <td>{{Teaching_Staff_Info_Detail_Object.Teacher_Contact_Number}}</td>
        </tr>
        <tr>
            <td><b>Date of Birth:</b></td>
            <td>{{Teaching_Staff_Info_Detail_Object.Teacher_Date_of_birth}}</td>
            <td><b>Social Category:</b></td>
            <td>{{Teaching_Staff_Info_Detail_Object.Teacher_Social_Category}}</td>
        </tr>
        
        <tr>
            <td><b>Position:</b></td>
            <td>{{Teaching_Staff_Info_Detail_Object.Teacher_Type}}</td>
            
            <td><b>Nature of Appointment:</b></td>
            <td>{{Teaching_Staff_Info_Detail_Object.Teacher_Nature_Of_Appointment}}</td>
            
        </tr>
        <tr>
            <td><b>Date of Joining:</b></td>
            <td>{{Teaching_Staff_Info_Detail_Object.Teacher_Date_of_Joining}}</td>
            <td><b>Highest Academic Qualification:</b></td>
            <td>{{Teaching_Staff_Info_Detail_Object.Teacher_Highest_Qualification_Academic}}</td>
        </tr>
        <tr>
            <td><b>Highest Professional Qualification:</b></td>
            <td>{{Teaching_Staff_Info_Detail_Object.Teacher_Highest_Qualification_Professional}}</td>
            <td><b>Classes Taught:</b></td>
            <td>{{Teaching_Staff_Info_Detail_Object.Teacher_Classes_Taught}}</td>
        </tr>
        <tr>
            <td><b>Allocated Subject</b></td>
            <td>{{Teaching_Staff_Info_Detail_Object.Teacher_Appointment_Subject}}</td>
            <td><b>Main Subject 1:</b></td>
            <td>{{Teaching_Staff_Info_Detail_Object.Teacher_Main_Subject_1}}</td>
            
        </tr>
        <tr>
            <td><b>Main Subject 2:</b></td>
            <td>{{Teaching_Staff_Info_Detail_Object.Teacher_Main_Subject_2}}</td>
            <td><b>BRC:</b></td>
            <td>{{Teaching_Staff_Info_Detail_Object.Teacher_BRC}}</td>
        </tr>
        <tr>
            <td><b>CRC:</b></td>
            <td>{{Teaching_Staff_Info_Detail_Object.Teacher_CRC}}</td>
            <td><b>DIET:</b></td>
            <td>{{Teaching_Staff_Info_Detail_Object.Teacher_DIET}}</td>
        </tr>
        <tr>
            <td><b>Training Received:</b></td>
            <td>{{Teaching_Staff_Info_Detail_Object.Teacher_Training_Received}}</td>
            <td><b>Training Needed:</b></td>
            <td>{{Teaching_Staff_Info_Detail_Object.Teacher_Training_Need}}</td>
        </tr>
        <tr>
            <td><b>No of days spent on non teaching assignments:</b></td>
            <td>{{Teaching_Staff_Info_Detail_Object.Teacher_Number_of_days_spent_on_non_teaching_assignment}}</td>
            
            <td><b>Science Knowledge:</b></td>
            <td>{{Teaching_Staff_Info_Detail_Object.Teacher_Science_Study_Knowledge}}</td>
            
        </tr>
        <tr>
            <td><b>English Knowledge:</b></td>
            <td>{{Teaching_Staff_Info_Detail_Object.Teacher_English_Study_Knowledge}}</td>
            
            <td><b>Language Study:</b></td>
            <td>{{Teaching_Staff_Info_Detail_Object.Teacher_Language_Study_Knowledge}}</td>
            
        </tr>

        <tr>
            <td><b>Social Study Knowledge:</b></td>
            <td>{{Teaching_Staff_Info_Detail_Object.Teacher_Social_Study_Knowledge}}</td>
            
            <td><b>Joining Year:</b></td>
            <td>{{Teaching_Staff_Info_Detail_Object.Teacher_Joining_Year}}</td>
            
        </tr>
    </tbody>
    </table>

    
               
                <!--year of recognition-->
                <div>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseRecognition"
                    aria-expanded="false" aria-controls="collapseRecognition">
                    <b> Other information: </b>
                    </button>
                </div>
                <div class="collapse" id="collapseRecognition">
                    <table class="table" cellspacing="0" width="100%">
                        <thead>
                            
                        </thead>
                        
                        <tr>
                        <td><b>Disability Status:</b></td>
                        <td>{{Teaching_Staff_Info_Detail_Object.Teacher_Disability}}</td>
                        <td><b>CWSN</b></td>
                        <td>{{Teaching_Staff_Info_Detail_Object.Teacher_Validity_for_CWSN}}</td>
                    </tr>
                    <tr>
                        <td><b>Trained for computer use:</b></td>
                        <td>{{Teaching_Staff_Info_Detail_Object.Teacher_Trained_for_use_of_Computer}}</td>
                        <td><b>Marital Status:</b></td>
                        <td>{{Teaching_Staff_Info_Detail_Object.Teacher_Marital_Status}}</td>
                        
                    </tr>
                    <tr>
                        <td><b>Other:</b></td>
                        <td>{{Teaching_Staff_Info_Detail_Object.Teacher_Other_Info}}</td>
                    </tr>
                    </table>
                </div>
                <hr>
              
                <!--Ugradation year-->
              
               
                
                
        

            <table id="dt-cell-sellection" class="table" cellspacing="0" width="100%">
                <thead></thead>
                <tbody>
                    
                </tbody>
            </table> 
        


</div>
</div>

    </div>
    </div>

{% endblock %}


