<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    function processForm() {
      $('select').prop('disabled', false);
      return true;
    }
    $("#{{ district_field_id }}").change(function () {
      var url = $("#sisForm").attr("data-blocks-url");  // get the url of the `load_cities` view
      var districtID = $(this).val();  // get the selected country ID from the HTML input
        // console.log(url, districtID);
      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'district': +districtID       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#{{ block_field_id }}").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
  </script>