{% extends 'base.html' %}
{% load static %}

{% block title %}
    Employee attendance
{% endblock title %}

{% block body %}
    <div class="container">
        <br>
        <h1 class="text-center">Employee Attendance</h1>
        <a href="{% url 'attendance:index' %}" class="btn"><i class="fas fa-chevron-left"></i> Return Home</a>
        <a class="btn" href="{% url 'attendance:employee_add' %}"><i class="fas fa-plus"></i> Add</a>
        <form id="fetchForm" method="post" data-school-url="{% url 'attendance:load_school' %}"
              data-block-url="{% url 'attendance:load_block' %}">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <ul class="text-danger form-text" style="list-style: none">
                    {% for error in form.non_field_errors %}
                        <li class="alert alert-danger">{{ error }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <br>
            {% endif %}
            <div class="row mb-4">
                {% for field in form %}
                    <div class="col">
                        <label class="form-label">{{ field.label_tag }}</label>
                        {{ field }}
                        {% if field.errors %}
                            <div>
                                <span class="text-danger form-text small">{{ field.errors.as_text }}</span>
                                {% if field.help_text %}
                                    <small class="text-danger form-text">{{ field.help_text }}</small>
                                {% endif %}
                            </div>
                        {% else %}
                            {% if field.help_text %}
                                <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                            <br>
                        {% endif %}
                    </div>
                {% endfor %}
                <br>
            </div>
            {% with authority_form as form %}
                {% include 'attendance/fetch_form.html' %}
            {% endwith %}
            <button type="submit" class="btn btn-primary">Fetch Employee</button>
        </form>
    </div>
{% endblock body %}

{% block scripts %}
    <!-- for fetching based on district -->
    <script>
        $("#id_district").change().change((el) => {
            const fetch_form = $("#fetchForm")
            const school_url = fetch_form.attr("data-school-url");
            const block_url = fetch_form.attr("data-block-url")
            let district_id = $(el.target).val();

            // for fetching schools
            $.ajax({
                url: school_url,
                data: {
                    'data_type': 'district',
                    'district_id': district_id,
                },
                success: function (data) {
                    $("#id_school").html(data);
                }
            });

            // for fetching blocks
            $.ajax({
                url: block_url,
                data: {
                    'district_id': district_id
                },
                success: function (data) {
                    $("#id_block").html(data);
                }
            });

        });
    </script>

    <!-- for fetching based on block -->
    <script>
        $("#id_block").change().change((el) => {
            const school_url = $("#fetchForm").attr("data-school-url");
            let district_id = $("#id_district").val()
            let block_id = $(el.target).val();

            // for fetching schools
            $.ajax({
                url: school_url,
                data: {
                    'data_type': 'block',
                    'block_id': block_id,
                    'district_id': district_id
                },
                success: function (data) {
                    $("#id_school").html(data);
                }
            });
        });
    </script>
{% endblock scripts %}