{% extends 'base.html' %}

{% block navbar %}
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark" style = "background-color: #222831;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" style="font-family: Pacifico;">Sikkim S.I.S</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0 font-weight-bold">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'misc:home' %}">Home</a>
              </li>            
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'schoolinfo:sections_home' %}">School Info</a>
              </li> 
               
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Students</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Staff</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'attendance:index' %}">Attendance</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'exams:report' %}">Academic Records</a>
              </li> 
              
            </ul>
            <div class="navbar-nav nav-item font-weight-bold d-flex w-auto">
              <a class="nav-link" aria-current="page" href="{% url 'profiles:logout' %}">Logout</a>
            </div>
          </div>
        </div>
      </nav>
    <!-- </Navbar> -->
    {% endblock %}

{% block body %}
<h2>Block Dashboard</h2>
{% endblock %}